<html>

<head>
	<title>Cryptocurrency Dashboard</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>
	<table style="height: 100%; width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td colspan="3" style="background-image: url('../static/images/bgs/40.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    color: #ffffff;
    font-weight: bolder;
    font-family: ABeeZee;
    letter-spacing: 15px;
    font-style: italic;
    text-decoration: overline;
    text-align: right;
    font-size: 40px;
    bottom: 0px;
    vertical-align: bottom;
    text-shadow: 5px 3px 12px #000000;">CRYPTOCURRENCY DASHBOARD</td>
			</tr>
			<tr>
				<td colspan="3" style="height: 30px;
    padding: 10px;
    font-family: Abel;
    font-size: 14px;
    background-color: #0695d6;
    color: #ffffff;
    letter-spacing: 3px;">&nbsp;&nbsp;
					<a href="/">DASHBOARD</a>&nbsp;&nbsp;|&nbsp;&nbsp;
					<a href="/coins">COINS</a>&nbsp;&nbsp;|&nbsp;&nbsp;
					<a href="/marketcap">MARKET CAPS</a>&nbsp;&nbsp;|&nbsp;&nbsp;
					<a href="/team">ABOUT US</a>
				</td>
			</tr>
			<tr>
				<td style="width: 50px;">&nbsp;</td>
				<td>
					<table style="width: 100%; height: 100%;" border="0">
						<tbody>
							<tr>
								<td width="23%" style="height: 500;">&nbsp;
									<img class="card" src="../static/images/Anna.jpg" />
								</td>
								<td style="width: 20px;">&nbsp;</td>
								<td width="23%">&nbsp;
									<img class="card" src="../static/images/connor.png" />
								</td>
								<td style="width: 20px;">&nbsp;</td>
								<td width="23%">&nbsp;
									<img class="card" src="../static/images/gail.png" />
								</td>
								<td style="width: 20px;">&nbsp;</td>
								<td width="23%">&nbsp;
									<img class="card" src="../static/images/jb.jpeg" />
								</td>
							</tr>
							<tr>
								<td style="vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;">
									<h1>&nbsp;&nbsp;Anna Dunnett</h1>
									<br>
									<p> <b>Current / Past Roles</b> </p>
									<ul>
										<li>Support Officer at Resolve Finance</li>
										<li>Officer at Department of Education, Student Behaviour and Attendance</li>
										<li>Standford University – Honours Program Graduate, Human Rights</li>
										<li>Curtin University Graduate – Bachelor of Commerce, Business Law and
											International Relations
										</li>
									</ul>
								</td>
								<td>&nbsp;</td>
								<td style="vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;">
									<h1>&nbsp;&nbsp;Connor Lane</h1>
									<br>
									<p> <b>Current / Past Roles</b> </p>
									<ul>
										<li>Operations Manager at Hanny Properties</li>
										<li>Commercial Contracts professional for Roy Hill Iron Ore</li>
										<li>Past intern Centre for Policy Studies – London</li>
										<li>Recipient of a Mannkal Economic Education Foundation scholarship</li>
										<li>Curtin University graduate with a Major in Finance</li>
									</ul>
								</td>
								<td></td>
								<td style="vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;">
									<h1>&nbsp;&nbsp;Gail McGlinn</h1>
									<br>
									<p> <b>Current / Past Roles</b> </p>
									<ul>
										<li>Acting Financial Controller/Senior Mgt Accountant at Brikmakers</li>
										<li>Sales Analyst and Business Analyst at Boral</li>
									</ul>
								</td>
								<td>&nbsp;</td>
								<td style="vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;">
									<h1>&nbsp;&nbsp;JB</h1>
									<br>
									<p> <b>Current / Past Roles</b> </p>
									<ul>
										<li>Retail Management</li>
										<li>Exploration Quality Assurance Manager</li>
										<li>Underground Exploration Geologist</li>
										<li>Bsc Geology/Geophysics</li>
										<li>Cute &amp; fluffy</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td style="width: 50px;">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="3" style="height: 30px;
    font-family: Abel;
    text-align: right;
    font-size: 12px;
    padding: 9px;
    background-color: #c3c3c3;">© 2020 Some people&nbsp; &nbsp; Privacy &amp; cookies&nbsp; &nbsp; Terms of use&nbsp;
					&nbsp; Contact us</td>
			</tr>
		</tbody>
	</table>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src='../static/js/overview.js'></script>
</body>